<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="colorCameraRoll" class="ColorCameraRoll" />
    <bean id="blackAndWhiteCameraRoll" class="BlackAndWhiteCameraRoll" />
    <bean id="blackAndWhiteCamera" class="Camera">
        <property name="cameraRoll">
            <ref bean="blackAndWhiteCameraRoll" />
        </property>
    </bean>
    <bean id="colorCamera" class="Camera">
        <property name="cameraRoll">
            <ref bean="colorCameraRoll" />
        </property>
    </bean>


</beans>